body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fbf9e8;
    font-family: monospace;
    color: rgba(25,25,25);
}


h1 {

}

.line-1{
    position: absolute;
    text-align: center;
    top: 30%;  
    margin: 3 auto;
    border-right: 2px solid rgba(25,25,25);
    font-size: 500%;
    text-align: center;
}

/* Animation */
.anim-typewriter{
    animation:
        blinkTextCursor 1s infinite;
}

@keyframes blinkTextCursor{
    steps (1, end);
    from, to
    0%   {border-color: black;}
    49.99%   {border-color: black;}
    50%  {border-color: transparent;}
    100% {border-color: transparent;}
}



.end {
    position: absolute;
    text-align: center;
    bottom: 42px;
    width: 100%;
    font-size: 20px
}