   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbf9e8;
    font-family: monospace;
    color: rgba(25,25,25);
}


h1 {

}

.line-1{
    position: absolute;
    text-align: center;
    top: 42%;  
    width: 13.85em;
    margin: 0 auto;
    border-right: 2px solid rgba(25,25,25);
    font-size: 500%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-100%);    
}

/* Animation */
.anim-typewriter{
    animation: typewriter 5s steps(23) 0.5s 1 normal both,
        blinkTextCursor 1s infinite;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 13.85em;}
}
@keyframes blinkTextCursor{
    steps (1, end);
    from, to
    0%   {border-color: black;}
    49.99%   {border-color: black;}
    50%  {border-color: transparent;}
    100% {border-color: transparent;}
}



.end {
    position: absolute;
    text-align: center;
    bottom: 42px;
    width: 100%;
    font-size: 20px
}